attrs==21.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
boto3==1.18.11
botocore==1.21.11
Brotli==1.0.9
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.3
chart-studio==1.1.0
click==8.0.1
colorama==0.4.4
cycler==0.10.0
Cython==0.29.24
dash==1.21.0
dash-auth==1.4.1
dash-bootstrap-components==0.13.0
dash-core-components==1.17.1
dash-extensions==0.0.18
dash-html-components==1.1.4
dash-leaflet==0.1.16
dash-pivottable==0.0.2
dash-table==4.12.0
decorator==5.0.9
dill==0.3.4
distlib==0.3.2
et-xmlfile==1.1.0
filelock==3.0.12
Flask==2.0.1
Flask-Compress==1.10.1
Flask-Login==0.5.0
Flask-SeaSurf==0.3.0
Flask-SQLAlchemy==2.5.1
future==0.18.2
geobuf==1.1.1
greenlet==1.1.1
gunicorn==20.1.0
idna==3.2
ipython-genutils==0.2.0
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==3.2.0
jupyter-core==4.7.1
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.2
more-itertools==8.8.0
nbformat==5.1.3
numpy==1.21.1
openpyxl==3.0.7
pandas==1.3.1
pandas-datareader==0.10.0
Pillow==8.3.1
platformdirs==2.2.0
plotly==5.1.0
protobuf==3.17.3
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.1
pywin32==301;platform_system == "Windows"
requests==2.26.0
retrying==1.3.3
s3transfer==0.5.0
scipy==1.7.0
sd-material-ui==4.5.1
seaborn==0.11.1
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.23
tenacity==8.0.1
traitlets==5.0.5
ua-parser==0.10.0
urllib3==1.26.6
virtualenv==20.7.2
visdcc==0.0.40
Werkzeug==2.0.1
xlrd==2.0.1
zipfile36==0.1.3
