gunicorn
beautifulsoup4
pandas
zipfile36
boto3
urllib3
pyreadstat
matplotlib
seaborn
numpy
pathlib
dash
dash_core_components
dash_html_components
dash_bootstrap_components
dash_auth
plotly
flask
flask_sqlalchemy
whitenoise
